@import 'variables';

.message-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: $toast-text;

    .message{
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 20px;

    }

    &__message-content{
        display: flex;
        gap: 20px;

        &__icon{
            display: flex;
            align-self: center;
        }

        &__wrapper{
            
        &__title{
            font-weight: 500;
            margin: 7px 0;
            font-size: 16px;
        }

        &__sub-title{
            font-size: 14px;
        }  
        }
    }

    .close-btn{
        color: $toast-close;

    } 

}

.success-icon{
    color: $toast-success;

}

.warning-icon{
    color: $toast-danger;

}

.info-icon{
    color: $toast-info;
    
}