<div class="basket-container">

    <ng-container *ngIf="basket$ | async as data">

        <ng-container *ngIf="data.length > 0; else noDataFound">

            <div *ngFor="let basket of data" class="basket-container__basket-items">

                <div class="basket-container__basket-items__item">
                    <div class="item-img-container">
                        <img [src]="basket.product.imageUrl" alt="Product">
                    </div>

                    <div class="item-metdata">
                        <div class="item-title">
                            <span matTooltip="text">{{
                                translate.currentLang == 'en' ? basket.product.nameEn : basket.product.nameAr
                                }}</span>
                            <span>
                                {{'pages.basket.price' | translate}}:
                                <button color="primary" mat-stroked-button>{{basket.product.price}} {{'shared.misc.jd' |
                                    translate}}</button>

                            </span>
                        </div>
                        <!-- <div class="item-actions">
    
                        <button mat-button color="primary">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
    
                        <span class="item-quantity">1</span>
    
                        <button mat-button color="warn">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
    
                    </div> -->
                    </div>

                    <div class="remove-item">
                        <button (click)="deleteItem(basket.id)" [matTooltip]="'shared.misc.delete' | translate"
                            mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                </div>
            </div>

        </ng-container>


    </ng-container>


    <ng-template #noDataFound>
        <div class="no-data mt-5">{{'shared.misc.noData' | translate}}</div>
    </ng-template>

</div>