@import 'variables';

.product-card{
    height: 300px;
    &__img-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 190px;
        img{
            display: block;
            width: 150px;
            height: 150px;
            object-fit: contain;
        }
    }
    &__title{
        margin-top: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.card-actions-container{
    flex: 1;
}