<mat-card class="product-card">
    <div class="product-card__img-wrapper">
        <img mat-card-image [src]="product.imageUrl" [alt]="product.nameEn">
    </div>
    <mat-card-content>
        <p [matTooltip]="translate.currentLang == 'en' ? product.nameEn : product.nameAr" class="product-card__title">
            {{translate.currentLang == 'en' ? product.nameEn : product.nameAr}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="card-actions-container">
            <button (click)="addToBasket(product)" [matTooltip]="'shared.product.addToBasket' | translate"
                color="primary" mat-icon-button><mat-icon>add_shopping_cart</mat-icon></button>
            <!-- <button [matTooltip]="'shared.product.addToFavorites' | translate"
                mat-icon-button><mat-icon>favorite_border</mat-icon></button> -->
        </div>

        <button color="primary" mat-stroked-button>{{product.price}} {{'shared.misc.jd' | translate}}</button>
    </mat-card-actions>
</mat-card>