@use '@angular/material' as mat;

$heading-font-family: "'Poppins', sans-serif";
$regular-font-family: "'Inter', sans-serif";

$main-typography: mat.define-typography-config(
  $font-family: $regular-font-family,
  $headline-1: mat.define-typography-level($font-family: $heading-font-family, $font-size: 112px),
  $headline-2: mat.define-typography-level($font-family: $heading-font-family, $font-size: 56px),
  $headline-3: mat.define-typography-level($font-family: $heading-font-family, $font-size: 45px, $line-height: 48px),
  $headline-4: mat.define-typography-level($font-family: $heading-font-family, $font-size: 34px, $line-height: 40px),
  $headline-5: mat.define-typography-level($font-family: $heading-font-family, $font-size: 24px, $line-height: 32px),
  $headline-6: mat.define-typography-level($font-family: $heading-font-family, $font-size: 16px, $line-height: 32px),
  $subtitle-1: mat.define-typography-level($font-family: $heading-font-family, $font-size: 14px, $line-height: 28px),
  $subtitle-2: mat.define-typography-level($font-family: $heading-font-family, $font-size: 14px, $line-height: 24px),
  $body-2: mat.define-typography-level($font-size: 14px),
  $body-1: mat.define-typography-level($font-size: 14px),
  $button: mat.define-typography-level($font-size: 14px),
);

$heading-font-family-arabic: "Tajawal", sans-serif;
$regular-font-family-arabic: "Tajawal", sans-serif;

$main-arabic-typography: mat.define-typography-config(
  $font-family: $regular-font-family-arabic,
  $headline-1: mat.define-typography-level($font-family: $heading-font-family-arabic, $font-size: 112px),
  $headline-2: mat.define-typography-level($font-family: $heading-font-family-arabic, $font-size: 56px),
  $headline-3: mat.define-typography-level($font-family: $heading-font-family-arabic, $font-size: 45px, $line-height: 48px),
  $headline-4: mat.define-typography-level($font-family: $heading-font-family-arabic, $font-size: 34px, $line-height: 40px),
  $headline-5: mat.define-typography-level($font-family: $heading-font-family-arabic, $font-size: 24px, $line-height: 32px),
  $headline-6: mat.define-typography-level($font-family: $heading-font-family-arabic, $font-size: 16px, $line-height: 32px),
  $subtitle-1: mat.define-typography-level($font-family: $heading-font-family-arabic, $font-size: 14px, $line-height: 28px),
  $subtitle-2: mat.define-typography-level($font-family: $heading-font-family-arabic, $font-size: 14px, $line-height: 24px),
  $body-2: mat.define-typography-level($font-size: 14px),
  $body-1: mat.define-typography-level($font-size: 14px),
  $button: mat.define-typography-level($font-size: 14px),
);