
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@use "./helper-styles/typography.scss" as typography-config;
@use './helper-styles/palette.scss' as palette-config;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$supermarket-app-primary: mat.define-palette(palette-config.$primary-palette, 500);
$supermarket-app-accent: mat.define-palette(palette-config.$secondary-palette, 300);

// The warn palette is optional (defaults to red).
$supermarket-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$supermarket-app-theme: mat.define-light-theme((
  color: (
    primary: $supermarket-app-primary,
    accent: $supermarket-app-accent,
    warn: $supermarket-app-warn,
  ),
  typography: typography-config.$main-typography

));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($supermarket-app-theme);
@include mat.typography-hierarchy(typography-config.$main-typography);

/* Here is a  global styles, and also the import for other style files */


@import 'variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html:dir(rtl){

  $supermarket-app-theme: mat.define-light-theme((
    color: (
      primary: $supermarket-app-primary,
      accent: $supermarket-app-accent,
      warn: $supermarket-app-warn,
    ),
    typography: typography-config.$main-arabic-typography
  ));
  
  @include mat.all-component-themes($supermarket-app-theme);
  @include mat.typography-hierarchy(typography-config.$main-arabic-typography);
  
}


.mat-button-small{
  height: 30px !important;
}

.mat-button-medium{
  height: 40px !important;
}

.mat-button-large{
  height: 50px !important;
}

.message-success {
  color: $toast-text;
  background-color: $toast-success-background;
  border-left: 10px solid $toast-success;
  font-weight: bolder;
  font-size: 16px;

  & .mdc-snackbar__surface{
    background-color: $toast-success-background !important;
  }
}

.message-warning {
  color: $toast-text;
  background-color: $toast-danger-background;
  border-left: 10px solid $toast-danger;
  font-weight: bolder;
  font-size: 16px;
  & .mdc-snackbar__surface{
    background-color: $toast-danger-background !important;
  }
}

.message-info {
  color: $toast-text;
  background-color: $toast-info-background;
  border-left: 10px solid $toast-info;
  font-weight: bolder;
  font-size: 16px;
  & .mdc-snackbar__surface{
    background-color: $toast-info-background !important;
  }
}

.mat-snack-bar-container{
  max-width: unset !important;
  border-radius: 0 !important;

}

.no-data{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}