<div class="home-landing-container mb-5">
    <div class="home-landing-container__content-wrapper">
        <img src="assets/images/app-logo.svg" class="home-landing-container__content-wrapper__logo">
        <h1>{{'pages.home.slogan' | translate}}</h1>
    </div>
</div>

<div class="mb-5">
    <app-category-wrapper [title]="'pages.home.ourCategories' | translate">

        <div class="card-wrapper row">
            <div *ngFor="let category of categories$ | async" (click)="navigateToProducts(category.id)"
                class="card-wrapper__category-card col-md-1">
                <div class="card-wrapper__category-card__img">
                    <img [src]="'assets/images/product-categories/' + category.icon + '.png'"
                        [alt]="translate.currentLang == 'en' ? category.nameEn : category.nameAr">
                </div>
                <div class="card-wrapper__category-card__title">
                    {{translate.currentLang == 'en' ? category.nameEn : category.nameAr}}
                </div>
            </div>
        </div>
    </app-category-wrapper>
</div>

<div>
    <app-category-wrapper [title]="'pages.home.youMayLike' | translate">
        <div class="row">
            <div *ngFor="let product of randomProducts$ | async" class="col-md-3 mt-4">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </app-category-wrapper>
</div>